body{
  margin: 0px;
}
/*dando estilo a encabezado*/
.encabezado{
  background-color:#F78E69;
  text-align: right;

}
.titulo{
  font-family: 'Asul', sans-serif;
  margin-right: 30px;
  color: white;
  font-size: 40px;
}
.subtitulo{
  margin-right: 30px;
  font-family: 'Asul', sans-serif;
  font-weight: normal;
  color: white;
  margin-top: -30px;
  font-size: 20px;
  padding-bottom: 25px;
}
#bajada1{
  background-image: url(../../assets/img/uno.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20% 0;
  margin-top: -20px;
}

/*dando estilo a seccion texto-info*/
#texto-info{
  background-color: #ABE188;
  border-top: 20px solid #F78E69;
  margin-top: -4px;
  border-bottom: 20px solid #F78E69;
}
.contenido{
  margin-top: 50px;
}
.cuadro{
  background-color: #F78E69;
}
.about{
  font-family: 'Asul', sans-serif;
  color: white;
  font-weight:bold;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.info{
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-left: auto;
}
.texto{
  height: 220px;
  width: 480px;
  margin-left:25px;
  margin-bottom: 10px;
}

/* dando estilo a imagen dos*/
#bajada3{
  background-image: url(../../assets/img/dos.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 33% 0;
}

/* dando estilo a seccion bajada 4*/
#bajada4{
  background-color: #ABE188;
  border-top: 20px solid #F78E69;
  border-bottom: 20px solid #F78E69;
  text-align: center;
}
.texto-pictures{
  font-family: 'Asul', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;

}
.imagenes{
  margin-bottom: 30px;
}
.picture-1{
  border: 10px solid white;
  margin-left: 20px;

}
.picture-2{
  border: 10px solid white;
  margin-left: 20px;
}
.picture-3{
  border: 10px solid white;
  margin-left: 20px;
}
.picture-4{
  border: 10px solid white;
  margin-left: 20px;
}
/*colocando imagen en bajada5*/
#bajada5{
  background-image: url(../../assets/img/tres.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25% 0;
}
/*dando estilo  bajada final*/
#bajada-final{
  background-color:#F78E69;
  text-align: right;

}
.cierre{
  color: white;
  font-family: 'Asul', sans-serif;
  font-size: 18px;
}
.ultimo{
  margin-bottom: -1px !important;
}
